p{
    font-size: 16px;
    font-weight: 400;  
}
button{
    margin-right: 6px;
}
img{
    width:68px;
    margin-left: 24px
}
.btnBody{
    width: 100%;
}
.mainBody{
    margin-right: 5%;
}
::ng-deep .mat-dialog-container {
    padding: 8px !important;
    border-radius: 25px;
    height: 40%;
}
.warning1{
    width:61px;
}